@model EIP.Entity.Student

@{
    Layout = "~/views/shared/_PersonCenterLayout.cshtml";
}
@section head{
    <link href="/Content/PersonalCenter/CSS/table.css?v=@ViewBag.Version" rel="stylesheet" />
}
<div>
    <div class="div-margin">
        <input type="button" id="Colse" class="form-btn" onclick="closeBox();" value="关闭" />
        
    </div>
    <div class="head-font">
        <b>学生表详情</b>
    </div>

    <table id="readonly" class="tables" cellpadding="0" cellspacing="0">
            
                <tr>
                    <td width="25%">
                        <label>学生ID</label>
                    </td>
                    <td>
                        @Html.DisplayFor(p => p.StudentID)
                    </td>
                </tr>
            
            
                <tr>
                    <td width="25%">
                        <label>班级ID</label>
                    </td>
                    <td>
                        @Html.DisplayFor(p => p.ClassID)
                    </td>
                </tr>
            
            
                <tr>
                    <td width="25%">
                        <label>学生名字</label>
                    </td>
                    <td>
                        @Html.DisplayFor(p => p.StudentName)
                    </td>
                </tr>
            
            
                <tr>
                    <td width="25%">
                        <label>学生性别</label>
                    </td>
                    <td>
                        @Html.DisplayFor(p => p.Sex)
                    </td>
                </tr>
            
            
                <tr>
                    <td width="25%">
                        <label>学生年龄</label>
                    </td>
                    <td>
                        @Html.DisplayFor(p => p.Age)
                    </td>
                </tr>
            
            
                <tr>
                    <td width="25%">
                        <label>父亲名字(fatherName)</label>
                    </td>
                    <td>
                        @Html.DisplayFor(p => p.FatherName)
                    </td>
                </tr>
            
            
                <tr>
                    <td width="25%">
                        <label>母亲(matherName)</label>
                    </td>
                    <td>
                        @Html.DisplayFor(p => p.MatherName)
                    </td>
                </tr>
            
            
                <tr>
                    <td width="25%">
                        <label>家庭地址(HomeAddress)</label>
                    </td>
                    <td>
                        @Html.DisplayFor(p => p.HomeAddress)
                    </td>
                </tr>
            
            
                <tr>
                    <td width="25%">
                        <label>学生老师关系表(StudentTeacherRelationship)</label>
                    </td>
                    <td>
                        @Html.DisplayFor(p => p.StudentTeacherRelationships)
                    </td>
                </tr>
            
            
                <tr>
                    <td width="25%">
                        <label>班级表</label>
                    </td>
                    <td>
                        @Html.DisplayFor(p => p.ClassTable)
                    </td>
                </tr>
            
    </table>
</div>

<script type="text/javascript">

    mini.parse();


    //关闭
    function closeBox() {

        window.App.CloseWindow();
    }
</script>