@model EIP.Entity.Remo

@{
    Layout = "~/views/shared/_PersonCenterLayout.cshtml";
}
@section head{
    <link href="/Content/PersonalCenter/CSS/table.css?v=@ViewBag.Version" rel="stylesheet" />
}
<div> 
    <div class="div-margin">
        <input type="button" id="Colse" class="form-btn" onclick="closeBox();" value="关闭" />
        
    </div>
    <div class="head-font">
        <b>班级详情</b>
    </div>

    <table id="readonly" class="tables" cellpadding="0" cellspacing="0">
            
                <tr>
                    <td width="25%">
                        <label>班级编号</label>
                    </td>
                    <td>
                        @Html.DisplayFor(p => p.RId)
                    </td>
                </tr>
            
            
                <tr>
                    <td width="25%">
                        <label>班级名称</label>
                    </td>
                    <td>
                        @Html.DisplayFor(p => p.Remo_id)
                    </td>
                </tr>
            
            
                <tr>
                    <td width="25%">
                        <label>班主任编号</label>
                    </td>
                    <td>
                        @Html.DisplayFor(p => p.MasterNum)
                    </td>
                </tr>
            
            
                <tr>
                    <td width="25%">
                        <label>所属学院编号</label>
                    </td>
                    <td>
                        @Html.DisplayFor(p => p.CId)
                    </td>
                </tr>
            
            
                <tr>
                    <td width="25%">
                        <label>备注
   </label>
                    </td>
                    <td>
                        @Html.DisplayFor(p => p.Other)
                    </td>
                </tr>
            
            
                <tr>
                    <td width="25%">
                        <label>学生信息表</label>
                    </td>
                    <td>
                        @Html.DisplayFor(p => p.Grades)
                    </td>
                </tr>
            
            
                <tr>
                    <td width="25%">
                        <label>用来记录每个班级的任课教师</label>
                    </td>
                    <td>
                        @Html.DisplayFor(p => p.entorToRemos)
                    </td>
                </tr>
            
            
                <tr>
                    <td width="25%">
                        <label>学院信息
   </label>
                    </td>
                    <td>
                        @Html.DisplayFor(p => p.College)
                    </td>
                </tr>
            
    </table>
</div>

<script type="text/javascript">

    mini.parse();


    //关闭
    function closeBox() {

        $('.div-margin').dialog("close");
    }
</script>