
@{
    Layout = "~/views/shared/_layout.cshtml";
}
@section head{
}

<table id="grid_remo" class="easyui-datagrid" fit="true"
       data-options="rownumbers:true,pagination:true,url:'/Remo/query_remo',toolbar:'#grid_remotoolbar',onDblClickRow:doDetail,onClickRow:doSingleDetail">
    <thead>
        <tr>
            <th data-options="field:'ck',checkbox:true"></th>
            <th data-options="field:'RId',width:100">班级编号</th>
            <th data-options="field:'Remo_id',width:100,editor:{type:'text'}">班级名称</th>
            <th data-options="field:'MasterNum',width:100">班主任教师代码</th>
            <!--<th data-options="field:'CId',width:100">所属学院代码</th>-->
            <th data-options="field:'Other',width:100">备注</th>
        </tr>
    </thead>
</table>

<div id="grid_remotoolbar" style="padding:5px;height:auto">
    <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="doAdd()">添加</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="doDel()">删除</a>
    @Html.CLTextBox("Key", "", new TextBox() { Prompt = "请输入班级名称" })
    <a href="#" class="easyui-linkbutton" iconcls="icon-search" onclick="doSearch()">查询</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-search" onclick="doTurntoAddClassAndStu()">批量添加班级学生</a>
</div>

<div id="dlg_remo" class="easyui-dialog" title="班级编辑" style="width: 400px; height: 400px; padding: 10px"
     data-options="iconCls:'icon-save',resizable:true,modal:true,closed:true,buttons:'#dlg_buttons'">
    Loading...
</div>

<div id="dlg_buttons" style="padding:5px;height:auto">
    <div style="margin-bottom:5px">
        <a href="#" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="save()">保存</a>
        <a href="#" class="easyui-linkbutton" iconcls="icon-no" plain="true" onclick="closeBox()">关闭</a>
    </div>
</div>


<div id="dlg_addClassAndStudentsPage" class="easyui-dialog" title="批量添加班级和学生" style="width: 1000px; height: 600px; padding: 5px"
     data-options="iconCls:'icon-save',resizable:true,modal:true,closed:true,buttons:'#dlg_addClassAndStudentsPageButtons'">
    Loading...
</div>

<div id="dlg_addClassAndStudentsPageButtons" style="padding:5px;height:auto">
    <div style="margin-bottom:5px">
        <a href="#" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="saveAddClassAndStuBox()">保存</a>
        <a href="#" class="easyui-linkbutton" iconcls="icon-no" plain="true" onclick="closeAddClassAndStuBox()">关闭</a>
    </div>
</div>
<script>
    function doSearch() {
        $('#grid_remo').datagrid('load', {
            Key: $('#Key').val()
        });
    }

    // 添加
    function doAdd() {
        $('#dlg_remo').dialog("open").dialog('refresh', App.getUrl('/Remo/add'));
    }

    //跳转到批量添加班级学生
    function doTurntoAddClassAndStu() {
        
        $('#dlg_addClassAndStudentsPage').dialog("open").dialog('refresh', App.getUrl('/Remo/openAddClassAndStudents'));
    }

    @*// 删除
    function doDel() {
        var row = $('#grid_remo').datagrid('getSelected');
        if (!row) {
            App.showMessageBox('@MessageManager.GetMessage("E10060")', 2);
            return false;
        }

        window.App.showConfirm('@MessageManager.GetMessage("Q10010")',
            function () {
                App.action(App.getUrl("/Remo/remove"), { RId: row.RId },
                function () {
                    $('#grid_remo').datagrid('reload');
                });
        });


    }*@



    // 多行删除
    function doDel() {
        var rows = $('#grid_remo').datagrid('getChecked');
        if (!rows) {
            App.showMessageBox('@MessageManager.GetMessage("E10060")', 2);
            return false;
        }

        var ids = new Array();
        for (var i = 0; i < rows.length; i++)
        {
            ids.push(rows[i].RId);
        }

        window.App.showConfirm('@MessageManager.GetMessage("Q10010")',
            function () {
                App.action(App.getUrl("/Remo/multi_line_remove"), ids,
                function () {
                    $('#grid_remo').datagrid('reload');
                });
        });

    }

    // 打开编辑状态详情
    function doDetail() {
        var row = $('#grid_remo').datagrid('getSelected');
        if (row) {
            $('#dlg_remo').dialog("open").dialog('refresh', App.getUrl('/Remo/edit?RId=' + row.RId));
        }

    }

    //打开单个项目的编辑 beginEdit
    var rowIndexs = -1;
    var editData
    function doSingleDetail(rowIndex, field, value) {
        $('#grid_remo').datagrid('beginEdit', rowIndex);
        if (rowIndexs != -1) {
            endEdit();
            debugger;
        }
        rowIndexs = rowIndex;
    }

    function endEdit() {
        $('#grid_remo').datagrid('endEdit', rowIndexs);
        onAfterEdit();

    }

    function onAfterEdit() {
        debugger;
        editData = $('#grid_remo').datagrid('getRows')[rowIndexs];
        App.action(App.getUrl("/Remo/save"), editData,
            function (data) {
                $('#grid_remo').datagrid('reload');
               // rowIndexs = -1;
            });
    }

    
</script>

