@model EIP.Entity.LessonSchedule

@{
    Layout = "~/views/shared/_PersonCenterLayout.cshtml";
}
@section head{
    <link href="/Content/PersonalCenter/CSS/table.css?v=@ViewBag.Version" rel="stylesheet" />
}
<div>
    <div class="div-margin">
        <input type="button" id="Colse" class="form-btn" onclick="closeBox();" value="关闭" />
        
    </div>
    <div class="head-font">
        <b>课程安排详情</b>
    </div>

    <table id="readonly" class="tables" cellpadding="0" cellspacing="0">
            
                <tr>
                    <td width="25%">
                        <label>课程安排ID</label>
                    </td>
                    <td>
                        @Html.DisplayFor(p => p.LSId)
                    </td>
                </tr>
            
            
                <tr>
                    <td width="25%">
                        <label>用来识别课程信息</label>
                    </td>
                    <td>
                        @Html.DisplayFor(p => p.LIId)
                    </td>
                </tr>
            
            
                <tr>
                    <td width="25%">
                        <label>教室信息Id</label>
                    </td>
                    <td>
                        @Html.DisplayFor(p => p.ClassroomId)
                    </td>
                </tr>
            
            
                <tr>
                    <td width="25%">
                        <label></label>
                    </td>
                    <td>
                        @Html.DisplayFor(p => p.LessonTime)
                    </td>
                </tr>
            
            
                <tr>
                    <td width="25%">
                        <label>班级任课教师数据ID,确定任课教师和上课学生
   </label>
                    </td>
                    <td>
                        @Html.DisplayFor(p => p.MTRId)
                    </td>
                </tr>
            
            
                <tr>
                    <td width="25%">
                        <label>备注信息</label>
                    </td>
                    <td>
                        @Html.DisplayFor(p => p.Other)
                    </td>
                </tr>
            
            
                <tr>
                    <td width="25%">
                        <label>教室信息
   </label>
                    </td>
                    <td>
                        @Html.DisplayFor(p => p.Classroom)
                    </td>
                </tr>
            
            
                <tr>
                    <td width="25%">
                        <label>课程信息表</label>
                    </td>
                    <td>
                        @Html.DisplayFor(p => p.LessonInfo)
                    </td>
                </tr>
            
            
                <tr>
                    <td width="25%">
                        <label>用来记录每个班级的任课教师</label>
                    </td>
                    <td>
                        @Html.DisplayFor(p => p.entorToRemo)
                    </td>
                </tr>
            
    </table>
</div>

<script type="text/javascript">

    mini.parse();


    //关闭
    function closeBox() {

        window.App.CloseWindow();
    }
</script>